.header_top {
  height: 70px;
  background-color: #fff;
  line-height: 70px;
}

.nav_logo {
  height: 70px;
}

.nav_logo img {
  max-width: 80%;
}

.nav_link {
  height: 70px;
}

.nav_products {
  height: 70px;
}

/* .nav_products ul li,
.nav_login ul li  */
.header_top ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.1rem;
  padding: 0 3px;
  text-transform: capitalize;
}

.header_top ul li i {
  padding-left: 2px;
}

.nav_login ul a {
  border: 1px solid lightblue;
  font-size: 1.1rem;
  padding: 5px 5px;
  border-radius: 5px;
}

.nav_login {
  height: 70px;
}

.hmg_nav {
  height: 70px;
  background-color: blue;
}

/* /navbar */
/* jumbotron */

.jumb {
  background-color: #004aff;
  padding: 20px 0;
  /* height: 350px; */
}

.title_page {
    color: #fff;
}




.form_dv {
  background-color: #fff;
  padding: 20px;
}

/

.form_dv .get {
  color: #004aff;
}

.form_jumb {
  padding: 10px 0;
}

.form_email, .form_pass {
  margin-bottom: 5px;:
}

.account {
  background-color:  #004aff;
  border: 1px solid  #004aff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.account a {
  color: #fff;
}
.email_sub {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
}

.button_gmail {
  position: relative;
}

.button_gmail img {
 max-width: 30px;
 text-align: left;
 position: absolute;
 left: 10px;
}

.email_sub p {
  display: inline-block;
  text-align: center;
}


#terms {
 font-size: 0.8rem;
 text-align: center;
}
/* /jumbotron */
/* /header */
/* main */
/* prima sezione */

.brand_list {
  background-color: red;
}

.brand_img {
  height: 20px;
  border: 1px solid black;
}


/* /prima sezione */
/* seconda sezione */

.list_2_sct {
  height: 100px;
  border: 1px solid black;
}

/* /seconda sezione */
/* terza sezione */

.menu_freccie {
  border: 1px solid black;
}

.arrow {
  height: 150px;
  background-color: lightblue;
}

.menu_freccie .middle {
  height: 150px;
  background-color: yellow;
}
.menu_middle {
  height: 150px;
  background: red;
}
/*/ terza sezione */
/* quarta sezione */

.box_feat {
  height: 150px;
  border: 1px solid black;
}
/* /quarta sezione */
/* /quinta sezione */

.box_5 {
  background-color: darkblue;
  padding: 15px 0;
  margin-top: 5px;
}

.list_city {
  height: 300px;
  background-color: yellow;
  border: 1px solid black;
}
/* /quinta sezione */
/* sesta sezione */

.box_6 {
  background-color: red;
  padding: 15px 0;
}

/* /sesta sezionne */
/* /main */

/* footer */

.foot_up {
  border: 1px solid black;
}

.foot_bottom {
  background-color: blue;
}

.logo_foot {
  height: 100px;
  background-color: red;
}


.list_foot {
  /* height: 100px; */
  background-color: lightblue;
}

.foot_box_list {
  height: 100px;
  border: 1px solid black;
}
